<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client</title>
</head>
<body>
    <h2>Welcome to your account, {{client.first_name}} !</h2>
    <div>
        <h2>Client info</h2>
        <p>{{client.first_name}}</p>
        <p>{{client.last_name}}</p>
        <p>{{client.email}}</p>
    </div>
    <a href="/signout">Sign Out</a>
</body>
</html>