<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Added to List</title>
</head>
<body>
    <div class = "row">
        <div>
            <a href="/">Home</a>
        </div>
        <div>
            <h2>{{item.item_name}}:</h2>
            <p>Description: {{item.description}}</p>
            <p>Note to Self: {{item.note_to_self}}</p>
            <p>Item updated: {{item.updated_at}}</p>
        </div>
    </div>
</body>
</html>