<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h2>Edit User {{user.id}}</h2> <a href="/users">Home</a>
    <form action="/users/{{ user.id }}/update" method="post">
        <p>
            First Name:
        </p>
        <p>
            <input type ="text" name="first_name" id="" value="{{user.first_name}}">
        </p>
        <p>
            Last Name:
        </p>
        <p>
            <input type ="text" name="last_name" id="" value="{{user.last_name}}">
        </p>
        <p>
            Email:
        </p>
        <p>
            <input type ="text" name="email" id="" value="{{user.email}}">
        </p>
        <button>Update</button> <a href="/users/{{user.id}}"> Show User</a>
    </form>
</body>
</html>